---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import AboutTeaser from "../components/AboutTeaser.astro";
import Marquee from "../components/Marquee.astro";
import Projects from "../components/Projects.astro";
import Toolkit from "../components/Toolkit.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<Navbar />
	<main class="flex-grow">
		<Hero />
		<Marquee />
		<AboutTeaser />
		<Projects />
		<Toolkit />
		<Contact />
	</main>
	<Footer />
</Layout>
