---
---

<section class="py-24 px-6 bg-background-light dark:bg-background-dark">
    <div class="mx-auto max-w-4xl text-center">
        <div
            class="inline-block border-4 border-black dark:border-white p-8 md:p-12 shadow-neo-lg bg-[#FF0099] relative"
        >
            <div
                class="absolute -top-6 -left-6 bg-white border-4 border-black px-4 py-2 font-black text-black transform -rotate-6 shadow-sm"
            >
                LET'S TALK
            </div>
            <h2
                class="text-3xl md:text-4xl lg:text-6xl font-black text-white mb-6 uppercase leading-tight"
            >
                Got a crazy idea?<br />Let's build it.
            </h2>
            <p class="text-white text-xl font-medium mb-8 max-w-lg mx-auto">
                Currently available for freelance projects and open to full-time
                opportunities.
            </p>
            <a
                class="inline-flex items-center justify-center gap-3 bg-white text-black text-xl font-black px-10 py-4 border-4 border-black hover:shadow-neo transition-all uppercase"
                href="https://mail.google.com/mail/?view=cm&fs=1&to=rickyaldiansyah92@gmail.com&su=Wassup%20Ricky!"
                target="_blank"
            >
                <span class="material-symbols-outlined">mail</span>
                Email Me
            </a>
        </div>
    </div>
</section>
